// Bootstrap Override
$font-family-sans-serif:   "Open Sans", Helvetica, Arial, sans-serif;
$icon-font-path:           "../vendor/bootstrap-sass/assets/fonts/bootstrap/";

$link-color:               #1A619E;

$cor-verde: #00813e;
