@import '../vendor/bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import 'vars';
@import '../vendor/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../vendor/bootstrapaccessibilityplugin/src/sass/bootstrap-accessibility';
@import 'fonts';
@import 'barra-brasil-fix';

/* Layout
-------------------------------------------------------------- */
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $cor-verde;
}

small {
    color: #777;
    clear: both;
    padding: 0px;
    display: table;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
}

#conteudo {
	margin-top:15px;
	margin-bottom:15px;
}

.breadcrumb {
    padding: 8px 15px 8px 15px;
    margin-top: 0;
    margin-bottom: 5px;
}

ol.breadcrumb {
    li {
        a {
            font-weight: bold;
        }
        > .active {
            font-weight: bold;
        }
    }
}

.center {
    text-align: center;
}

.alignright,
img.alignright {
	float: right;
}

.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 0px;
}

img.aligncenter {
	clear: both;
	margin-top: 12px;
	margin-top: 0.857142857rem;
	margin-bottom: 12px;
	margin-bottom: 0.857142857rem;
}

img.alignright,
.wp-caption.alignright {
	margin: 12px 0 12px 24px;
	margin: 0.857142857rem 0 0.857142857rem 1.714285714rem;
}

.thumbnail {
    margin-bottom: 40px;
}


/* Cabeçalho
-------------------------------------------------------------- */
header {
    margin-top: 5px;
    margin-bottom: 10px;
}


/* Atalhos
-------------------------------------------------------------- */
#atalhos {
    font-size: 0.8em;
    margin-top: 4px;

    .btn-xs {
        margin-top: 2px;
    }

    .barra-atalhos {
        height: 20px;
        margin-top: 5px;
        margin-bottom: 0;
        padding-left: 0;

        li {
            float: left;
            padding-right: 10px;
            list-style: none;

            a {
                text-decoration: none;

                .badge {
                    font-size: 0.9em;
                    font-weight: 600;
                }
            }
        }
    }
}


/* Rodapé
-------------------------------------------------------------- */
footer {
    background-color: $cor-verde;
    color: #FFFFFF;
    font-size: 0.8em;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 30px;

    p.titulo {
        margin-top: 10px;
        font-size: 1.5em;
    }

    div.links {
        margin-top: 13px;
    }
}

footer a,
footer a:visited {
    color: #FFFFFF;
    text-decoration: underline;
}

footer a:hover,
footer a:active,
footer a:focus {
    color: #FCCA00;
}
